a[aria-expanded=true] .fa-chevron-right {
   display: none;
}
a[aria-expanded=false] .fa-chevron-down {
   display: none;
}

.img-wrap {
    position: relative;
    display: inline-block;
    font-size: 0;
}
.img-wrap .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    background-color: #FFF;
    padding: 5px 2px 2px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    opacity: .2;
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    border-radius: 50%;
}
.img-wrap:hover .close {
    opacity: 1;
}

.btn-ilp {
    @include button-variant( #0e004e,  #0e004e);
}

.btn-black {
    @include button-variant( #000,  #000);
}

.btn-dark-red {
    @include button-variant( #8a0000,  #8a0000);
}

input.line {
    width: 200px; 
    border: none; 
    border-bottom: 1px solid;
}

.btn-ssm {
    height: 24px;
    padding-top: 0;
    padding-bottom: 0;
}

.btn-static-200 {
    width: 200px;
}

.btn-static-150 {
    width: 150px;
}

.btn-static-100 {
    width: 100px;
}

textarea.idea {
    padding: 0;
    
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
}

textarea:disabled.idea {
    color: #000;
    background-color: #fff;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

ol.bold {
  margin:0 0 1.5em;
  padding:0;
  counter-reset:item;
  
  li {
    margin:0;
    padding:0 0 0 2.5em;
    text-indent: -2em;
    list-style-type:none;
    counter-increment:item;
  }
  
  li:before {
    display:inline-block;
    width:2em;
    padding-right:0.5em;
    font-weight:bold;
    text-align:right;
    content:counter(item) ".";
  }
}
 

